:root {
    --selected-icon-bg-color: #dfdfdf;
}

body {
    position: relative;
    margin: 0px;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica,
        Arial, sans-serif;
}

#whiteboardContainer {
    height: calc(var(--vh, 1vh) * 100);
    width: calc(100% - 20px);
    position: absolute;
    right: 0 !important;
}

#toolbar-inner button {
    color: black;
    /* White text */
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    /* Float the buttons side by side */
    font-size: 1.2em;
    height: 40px;
    width: 100%;
}

button::-moz-focus-inner {
    border: 0;
}

.whiteboard-edit-group.group-disabled {
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 166, 0, 0.366),
        rgba(255, 166, 0, 0.366) 10px,
        rgba(255, 166, 0, 0.666) 10px,
        rgba(255, 166, 0, 0.666) 20px
    );
}

/*
 * Deactivate all pointer events on all the children
 * of a group when it's disabled.
 */
.whiteboard-edit-group.group-disabled > * {
    pointer-events: none;
}

/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

/* Add a background color on hover */

#toolbar-inner button:hover {
    background-color: #9a9a9a;
}

button {
    outline-width: 0;
}

.whiteboard-tool.active:not(:disabled) {
    background: var(--selected-icon-bg-color) !important;
}

#whiteboardThicknessSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 3px;
    background: transparent;
    outline: none;
    opacity: 1;
    -webkit-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
}

.textBox.active {
    border: 1px dashed gray;
}

.textBox > .removeIcon,
.textBox > .moveIcon {
    display: none;
}

.textBox.active > .removeIcon,
.textBox.active > .moveIcon {
    display: block;
}

.modalBtn {
    padding: 5px;
    border-radius: 5px;
    border: 0px;
    min-width: 50px;
    cursor: pointer;
}

#displayWhiteboardInfoBtn.active {
    background: var(--selected-icon-bg-color) !important;
}

#whiteboardInfoContainer {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.displayNone {
    display: none;
}

#shareWhiteboardDialog {
    width: 100vw;
    height: 100vh;
    background-color: rgba(1, 1, 1, 0.35);
    z-index: 10000000000000;
    position: absolute;
    top: 0;
    left: 0;
}

#shareWhiteboardDialogMessage {
    background-color: lightgreen;
    padding: 20px;
    font-weight: bold;
}

.shareWhiteboardDialogContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.shareWhiteboardDialogItem {
    padding: 5px;
    margin: 5px;
}



.tool-box {
    border-right: 1px solid #E5E5E5;
    position: absolute;
    top: 0;
    width: 40px;
    background-color: #FBFBFB;
    overflow: hidden;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.tool-box::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color:transparent;
}

.tool-box::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

.tool-box::-webkit-scrollbar-thumb {
    background-color:transparent;
    border: 0;
}


.tool-box::-webkit-scrollbar-track {
    background-color:transparent;
    box-shadow: none;
}

#toolbar-inner button {
    border: 0px;
    border-bottom: 1px solid #E5E5E5!important;
    background-color: #ffffff;
    border-radius: 2px;
    margin-top: -4px;
}
#toolbar-inner button:hover {
    box-shadow: none;
    background: #eeeeee;
}

#toolbar-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    overflow: scroll;
}

#toolbar-inner::-webkit-scrollbar {
    display: none;
}

#parameters {
    position: absolute;
    width: 20%;
    left: 4%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 5px;
    padding-bottom: 60px;
    display: none;
}

#parameters div:first-child {
    height: 90px;
}

select#fonts {
    border: 0;
    font: 32px Cursive;
    background-color: inherit;
    display: none;
}

audio {
    width: 150px;
    height: 30px;
}

.recording-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

.recording-modal-body {
    width: 250px;
    height: 150px;
    position: relative;
    margin: auto auto;
    top: 10%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.record-button {
    width: 35px;
    height: 35px;
    font-size: 0;
    background-color: rgb(247, 31, 31);
    border: 0;
    border-radius: 35px;
    margin: 18px;
    outline: none;
}

.notRec {
    background-color: darkred;
}

.Rec {
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px 0px rgba(173, 0, 0, 0.3);
    }
    65% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0.3);
    }
    90% {
        box-shadow: 0px 0px 5px 13px rgba(173, 0, 0, 0);
    }
}
